*,
*:before,
*:after {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: black;
    height: 100vh;
    background: linear-gradient(180deg, #DCA2FF 10.03%, rgba(220, 162, 255, 0) 103%);
    background-repeat: no-repeat
}

a {
    text-decoration: none;
    color: black;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 9rem;

}


header {
    padding-top: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: black;

}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

h1 {

    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    position: relative;
}

h1::before {
    content: "";
    position: absolute;
    top: 45%;
    right: 0;
    bottom: 10px;
    width: 100%;
    height: 30px;
    background: #95E488;
    z-index: -1;
}

.image {
    max-width: 24rem;
}


.lang-link {
    color: #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 7.5rem 7.5rem 7.5rem;
}

.lang-link a:nth-child(2) {
    border-right: 4px solid black;
    border-left: 4px solid black;

}

.lang-link a {
    text-align: center;
    position: relative;
}

.lang-link a:hover {
    position: relative;
}

.lang-link a:hover:after {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(img/green-star.png);
    width: 7rem;
    height: 6rem;
    top: -30px;
    left: 5px;
    z-index: -1;
}

.active-link:after {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(img/green-star.png);
    width: 7rem;
    height: 6rem;
    top: -30px;
    left: 5px;
    z-index: -1;
    cursor: none;
}


.preface {
    padding-top: 9rem;
    height: 90vh;

}

.preface .wrapper {
    align-items: flex-start;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 27rem;
    max-width: 37.5rem;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.05em;
}

.skills {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.05em;
    position: relative;
    padding-bottom: 5rem;
}

.decor {
    position: absolute;
    z-index: 1;
    right: 20%;
    top: 30vh;
}

.decor2 {
    position: absolute;
    z-index: 1;
    left: 20%;
    top: 94vh;
}

.decor3 {
    position: absolute;
    z-index: 1;
    left: 80%;
    top: 95vh;
}

h2 {
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000000;
    padding: 30px 0 8px;
    position: relative;
    margin-bottom: 120px;
}

h2::before {
    content: "";
    position: absolute;
    top: 60%;
    right: 0;
    bottom: 16px;
    width: 100%;
    height: 30px;
    background: #95E488;
    z-index: -1;
}

.skills-cards {
    display: flex;
    flex-direction: column;
}

.skills-cards .card:nth-child(3) {
    align-self: flex-end;
    max-width: 23rem;
    width: 100%;
}

.skills-cards .card:nth-child(2) {
    align-self: center;
    max-width: 25rem;
    width: 100%
}

.skills-cards .card:nth-child(1) {
    position: relative;
    align-self: flex-start;
    max-width: 35rem;
    width: 100%
}

.card {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 3rem;

}

.prgrms {
    display: flex;
    margin-bottom: 30px;
}

.card-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
}

.card p {
    font-size: 18px;
}

.wrapper {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 42px;
    letter-spacing: 0.05em;
}

.social-links {
    display: flex;
    flex-direction: column;
}

.social-links a:hover:after {
    padding-left: 1rem;
    content: "\2190";
}

.write-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 33rem;
    width: 100%;
    font-weight: bold;
}

@media (max-width: 778px ) {
    .write-me {
        justify-content: center;
    }

    .write-me p {
        display: none;
    }
}

#cat {
    position: relative;
    height: 78px;
    width: 144px;
}

#cat:before {
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    background: url(img/kitty.png) no-repeat;
    height: 80px;
    width: 144px;
}

.cat-eye {
    position: absolute;
    display: none;
}

.cat-eyeball {
    position: absolute;
    left: 22.5px;
    top: 24.5px;
    width: 31px;
    height: 31px;
    background: black;
    border-radius: 100%;
}

#cat-eye-left {
    top: 0;
    left: 50%;
    margin-left: -75px;
}

#cat-eye-right {
    top: 0;
    left: 50%;
}

@media (max-width: 778px ) {
    .container {
        padding: 0 1rem;
    }

    .lang-link {
        margin-top: 3rem;
    }

    .skills {
        margin-top: 20rem;
    }

    .decor,
    .decor2,
    .decor3 {
        opacity: 0.4;
    }

    .image {
        max-width: 20rem;
    }

    .skills-cards .card:nth-child(3),
    .skills-cards .card:nth-child(2){
        align-self: flex-start;
    }

}